body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#423636;
    color:white;
}

.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

button{
    padding:10px 20px;
    border:none;
    background:orange;
    cursor:pointer;
}